* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

body {
   background-color: #F2F2F2;
   font-family: 'Manrope';  
}

#circles {
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.title {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    text-align: center;
}

h1 {
    width: 312px;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
}

#sub_title {
    height: 46px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    color: #848EAD;
}

.interactive {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 234px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 327px;
    height: 478px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

#views {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #848EAD;
}

#price {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.8px;
    color: #293356;
}

#on_off {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.switch {
    width: 43px;
    height: 22px;
    background: #CFD8EF;
    border-radius: 15px;
}

.round {
    position: relative;
    left: 10%;
    top: 19%;
    width: 14px;
    height: 14px;
    transition: 0.3s;
    background: #FFFFFF;
    border-radius: 8px;
}

.round_on {
    left: 58%;
    transition: 0.3s;
}

.slider[type="range"] {
    -webkit-appearance: none;
    background: #ECF0FB;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    height: 8px;
    width: 279px;
    border-radius: 5px;
    overflow: visible;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #10D8C4;
}
.slider::-webkit-slider-thumb:hover {
    color: #24AEA1;
}

#line {
    width: 327px;
    height: 1px;
    background-color: #ECF0FB;
}

span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848EAD;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
}

button {
    width: 170px;
    height: 41px;
    background: #293356;
    color: #BECDFF;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
}


/* Suitable for relativly larger displays such as laptop or desktop screen sizes */

@media only screen and (min-width: 768px) {

h1 {
    width: 393px;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
}

#sub_title {
    width: 393px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.interactive {
    width: 540px;
    height: 397px;
}

#on_off {
    width: 50%;
}

.slider[type="range"] {
    position: relative;
    top: 4.5rem; 
    width: 444px;
}

.description {
    position: relative;
    top: 5%;
    left: -153px;
    align-items: start;

}

#uno {
    text-align: left;
}

button {
    position: relative;
    top: -65px;
    left: 25%;
    color: #FFF;

}

#line {
    width: 540px;
}

.price {
    position: relative;
    top: -40px;
    left: 23%;
}
#price {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-align: right;
    letter-spacing: -1px;
}

#month {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    
}

#views {
    position: relative;
    left: -148px;
    top: 55px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
}

}